<div class="person-card-grid">
    @for (articulacion of sortedArticulaciones(); track $index) {
    <mat-card class="person-card">
        <div class="card-icon-container">
            <mat-icon>hub</mat-icon>
        </div>
        <div class="card-content-wrapper">
            <div class="card-header-info">
                <h3>{{ articulacion.ingreso_programa?.programa?.nombre || 'Programa Desconocido' }}</h3>

                @if (articulacion.efector) {
                <p class="secondary-text">Efector: {{ articulacion.efector.nombre }}</p>
                }

                @if (articulacion.observacion) {
                <p class="secondary-text">{{ articulacion.observacion }}</p>
                }
            </div>
            <div class="card-footer-info">
                <p class="date-info">Fecha: {{ articulacion.fecha_articulacion | date:'dd/MM/yyyy' }}</p>
            </div>
        </div>
        <div class="card-actions" *ngIf="!isViewMode()">
            <button mat-icon-button color="warn" (click)="onDelete(articulacion)" matTooltip="Eliminar articulación">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    } @empty {
    <div class="empty-state">
        <mat-icon>hub</mat-icon>
        <p>No hay articulaciones registradas</p>
    </div>
    }
</div>