<mat-drawer-container class="example-container" autosize>
	<!-- <mat-drawer #drawer class="example-sidenav" mode="side">
		<p>Auto-resizing sidenav</p>

		<p>Hola</p>
		<p>Hola</p>
		<p>Hola</p>
		<p>Hola</p>
		<p>Hola</p>
		<p>Hola</p>
		@if (showSidebar()) {
		<p>Lorem, ipsum dolor sit amet consectetur.</p>
		} -->
	<!-- <button (click)="showFiller = !showFiller" matButton="elevated">Toggle extra text</button> -->
	<!-- </mat-drawer> -->

	<!-- El contenido del sidebar se controla desde el dashboard -->
	<p>Hola</p>
	<p>Hola</p>
	<p>Hola</p>
	<p>Hola</p>
	<p>Hola</p>
	<p>Hola</p>
</mat-drawer-container>
