.tailwind-scope {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
}
  
  /* Links */
  a {
    color: #80deea;  // Cyan clarito
  }
  
  a:hover {
    color: #ffb74d;  // Naranja suave
  }
  
  /* MatCard */
  .mat-card {
    background-color: #1e1e1e;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
  }
  
  /* Inputs */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #80deea;
  }
  
  /* Botón primario */
  .mat-raised-button.mat-primary {
    background-color: #00acc1;
    color: #fff;
  }
  
  .mat-raised-button.mat-primary:hover {
    background-color: #00838f;
  }
  
  /* Botón deshabilitado visible */
  button[disabled], .mat-button-disabled {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  /* SnackBar */
  .custom-snackbar {
    background-color: #333 !important;
    color: #fff !important;
  }
  
