
.table-container {
    max-height: 400px;
    overflow: auto;
    margin-top: 10px;
}

table {
    width: 100%;
}

h2 {
    font-family: 'Outfit', sans-serif;
    color: #1a237e;
    font-weight: 500;
}
