<div class="person-card-grid">
    @for(actividad of sortedActividades; track actividad.id) {
    <mat-card class="person-card">
        <div class="card-icon-container">
            <mat-icon>sports_soccer</mat-icon>
        </div>
        <div class="card-content-wrapper">
            <div class="card-header-info">
                <h3>{{ actividad.actividad }}</h3>
                <p class="secondary-text">{{ actividad.horario }}</p>
                <p class="secondary-text" *ngIf="actividad.observaciones">{{ actividad.observaciones }}</p>
            </div>
            <div class="card-footer-info" *ngIf="actividad.fecha_real">
                <p class="date-info">{{ actividad.fecha_real | date:'dd/MM/yyyy' }}</p>
            </div>
        </div>
        <div class="card-actions" *ngIf="!isViewMode">
            <button mat-icon-button color="warn" (click)="onDelete(actividad)" matTooltip="Eliminar actividad">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    } @empty {
    <div class="empty-state">
        <mat-icon>sports_handball</mat-icon>
        <p>No hay actividades registradas</p>
    </div>
    }
</div>