<div class="person-card-grid">
    @if (controles.length === 0) {
    <div class="empty-state">
        <mat-icon>monitor_heart</mat-icon>
        <p>No hay controles médicos registrados</p>
    </div>
    } @else {
    @for (item of controles; track item.id) {
    <mat-card class="person-card">
        <div class="card-icon-container">
            <mat-icon>local_hospital</mat-icon>
        </div>
        <div class="card-content-wrapper">
            <div class="card-header-info">
                <h3>{{ item.unidad_sanitaria }}</h3>
                @if (item.observaciones) {
                <p>{{ item.observaciones }}</p>
                }
            </div>
            <div class="card-footer-info">
                @if (item.fecha_real) {
                <p class="date-info">{{ item.fecha_real | date:'dd/MM/yyyy' }}</p>
                } @else {
                <p class="date-info">Registrado: {{ item.fecha_carga | date:'dd/MM/yyyy' }}</p>
                }
            </div>
        </div>
        <div class="card-actions" *ngIf="!isViewMode">
            <button mat-icon-button color="warn" (click)="onDelete(item)" matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    }
    }
</div>