<div class="person-card-grid" *ngIf="sortedContacts.length > 0; else emptyState">
    <mat-card *ngFor="let contact of sortedContacts" class="person-card">
        <div class="card-icon-container">
            <mat-icon>phone</mat-icon>
        </div>
        <div class="card-content-wrapper">
            <div class="card-header-info">
                <h3>Numero: {{ contact.telefono }}</h3>
            </div>
            <div class="card-footer-info" *ngIf="contact.fecha_real">
                <p class="date-info">{{ contact.fecha_real | date:'dd/MM/yyyy' }}</p>
            </div>
        </div>
        <div class="card-actions" *ngIf="!isViewMode">
            <button mat-icon-button color="warn" (click)="onDelete(contact.id)" matTooltip="Eliminar contacto">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
</div>

<ng-template #emptyState>
    <div class="empty-state">
        <mat-icon>contact_phone</mat-icon>
        <p>No hay contactos registrados</p>
    </div>
</ng-template>