<h2 mat-dialog-title>Agregar Domicilio</h2>
<mat-dialog-content>
  <form [formGroup]="addressForm" class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Calle / Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej: Av. San Martín">
      <mat-error *ngIf="addressForm.get('nombre')?.hasError('required')">Requerido</mat-error>
      <mat-error *ngIf="addressForm.get('nombre')?.hasError('minlength')">Mínimo 2 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Número</mat-label>
      <input matInput formControlName="numero" placeholder="Ej: 1234">
      <mat-error *ngIf="addressForm.get('numero')?.hasError('required')">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha_real">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addressForm.get('fecha_real')?.hasError('required')">Requerido</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="addressForm.invalid">
    Guardar
  </button>
</mat-dialog-actions>