<div class="person-card-grid">
    @for(perdida of sortedPerdidas; track perdida.id) {
    <mat-card class="person-card">
        <div class="card-icon-container">
            <mat-icon>heart_broken</mat-icon>
        </div>
        <div class="card-content-wrapper">
            <div class="card-header-info">
                <h3>Pérdida Significativa</h3>
                <p>{{ perdida.descripcion }}</p>
            </div>
            <div class="card-footer-info">
                @if (perdida.fecha_real) {
                <p class="date-info">{{ perdida.fecha_real | date:'dd/MM/yyyy' }}</p>
                } @else {
                <p class="date-info">{{ perdida.fecha_carga | date:'dd/MM/yyyy' }}</p>
                }
            </div>
        </div>
        <div class="card-actions" *ngIf="!isViewMode">
            <button mat-icon-button color="warn" (click)="onDelete(perdida)" matTooltip="Eliminar pérdida">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    }
</div>
@if (sortedPerdidas.length === 0) {
<div class="empty-state">
    <mat-icon>volunteer_activism</mat-icon>
    <p>No hay pérdidas registradas</p>
</div>
}