<div class="person-card-grid">
    @for(domicilio of domicilios(); track domicilio.id) {
    <mat-card class="person-card">
        <div class="card-icon-container">
            <mat-icon>home</mat-icon>
        </div>
        <div class="card-content-wrapper">
            <div class="card-header-info">
                <h3>{{ domicilio.nombre }} - {{ domicilio.numero }}</h3>
            </div>
            <div class="card-footer-info">
                @if (domicilio.fecha_real) {
                <p class="date-info">{{ domicilio.fecha_real | date:'dd/MM/yyyy' }}</p>
                } @else {
                <p class="date-info">Domicilio registrado</p>
                }
            </div>
        </div>
        <div class="card-actions" *ngIf="!isViewMode()">
            <button mat-icon-button color="warn" (click)="onDelete(domicilio)" matTooltip="Eliminar domicilio">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    } @empty {
    <div class="empty-state">
        <mat-icon>location_off</mat-icon>
        <p>No hay domicilios registrados</p>
    </div>
    }
</div>