<div class="person-card-grid">
    @for (vivienda of sortedViviendas(); track $index) {
    <mat-card class="person-card">
        <div class="card-icon-container">
            <mat-icon>house</mat-icon>
        </div>
        <div class="card-content-wrapper">
            <div class="card-header-info">
                <h3>{{ vivienda.tipo_vivienda.tipo }}</h3>
                @if (vivienda.observaciones) {
                <p class="secondary-text">{{ vivienda.observaciones }}</p>
                }
            </div>
            <div class="card-footer-info">
                @if (vivienda.fecha_real) {
                <p class="date-info">Fecha: {{ vivienda.fecha_real | date:'dd/MM/yyyy' }}</p>
                } @else {
                @if (vivienda.fecha_carga) {
                <p class="date-info">Registrado el: {{ vivienda.fecha_carga | date:'dd/MM/yyyy' }}</p>
                }
                }
            </div>
        </div>
        <div class="card-actions" *ngIf="!isViewMode()">
            <button mat-icon-button color="warn" (click)="onDelete(vivienda)" matTooltip="Eliminar registro">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    } @empty {
    <div class="empty-state">
        <mat-icon>home</mat-icon>
        <p>No hay datos de vivienda registrados</p>
    </div>
    }
</div>