.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
    min-width: 500px;
}

.full-width {
    width: 100%;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

textarea {
    resize: none;
}