<div class="container">
	<div class="search-container">
		<h2>Buscar Persona</h2>
		<form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
			<mat-form-field appearance="fill">
				<mat-label>DNI</mat-label>
				<input matInput formControlName="dni" placeholder="Ingrese el DNI" />
			</mat-form-field>
			<button matFab color="primary" type="submit"><mat-icon>search</mat-icon></button>
		</form>
		<div class="list-container">
			<button class="">Agregar Persona +</button>
			@for(person of persons$|async; track person.dni){
			<app-person-card [person]="person" />
			}
		</div>
	</div>
</div>
